@use "./navbar.vars.scss" as *;

.navbar {
  height: fit-content;
  background-color: var(--base);

  &__container {
    padding: 3% 5%;
  }

  &__list {
    list-style: none;
  }

  &__link {
    color: white;
  }
}
