@use "./navbar.vars.scss" as *;

.navbar {
  height: fit-content;

  &__container {
    padding: 3% 5%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__link {
    color: white;
  }
}
