@use "./projects-card.vars.scss" as *;

.projects-card {
  @include flex-column(flex-start);
  height: 15rem;

  &__heading {
    text-transform: uppercase;
  }

  &__sub-heading {
    color: var(--paper);
  }

  &__slider {
    margin-block-start: 3rem;
  }
}
