@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column($justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: center;
}

@mixin flex-inline($justify) {
  display: inline-flex;
  justify-content: $justify;
  align-items: center;
}

@mixin square-size($size) {
  width: $size;
  height: $size;
}
