@use "./arrow-button.vars.scss" as *;

/* Markup */
.arrow-button {
  color: white;
  text-align: center;

  #more-arrows {
    width: 75px;
    height: auto;
    // position: relative;

    &:hover {
      polygon {
        fill: #fff;
        transition: all 0.2s ease-out;

        &.arrow-bottom {
          transform: translateY(5px);
        }

        &.arrow-top {
          transform: translateY(-1px);
        }
      }
    }
  }

  polygon {
    fill: #fff;
    transition: all 0.2s ease-out;

    &.arrow-middle {
      opacity: 0.75;
    }

    &.arrow-top {
      opacity: 0.5;
      transform: translateY(18px);
    }

    &.arrow-bottom {
      transform: translateY(-18px);
    }
  }
}
