@use "./arrow-button.vars.scss" as *;

/* Markup */
.arrow-button {
  //   height: 15rem;
  color: white;
  text-align: center;
  //   position: relative;

  &__content {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }

  /* Arrow & Hover Animation */

  #more-arrows {
    width: 75px;
    height: 65px;

    &:hover {
      polygon {
        fill: #fff;
        transition: all 0.2s ease-out;

        &.arrow-bottom {
          transform: translateY(-18px);
        }

        &.arrow-top {
          transform: translateY(18px);
        }
      }
    }
  }

  polygon {
    fill: #fff;
    transition: all 0.2s ease-out;

    &.arrow-middle {
      opacity: 0.75;
    }

    &.arrow-top {
      opacity: 0.5;
    }
  }
}
